.project-container {
    background-color: #252625;
    min-height: max-content;
    /* top and bottom | left and right | */
    padding: 2vw 5vw;
}

.project-animator {

    padding: 0;
    animation-name: itemIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes itemIn {
    from {
        opacity: 0;
        margin-top: 50px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.project-title {
    color: whitesmoke;
    text-align: left;
    /* top | left and right | bottom */
    padding: 30px 0 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.project-date {
    color: whitesmoke;
    text-align: left;
    line-height: 200%;
    padding: 0 0 15px;
    letter-spacing: 1px;
    font-size: 1rem;
    /* font-weight: bold; */
}

.project-text {
    color: whitesmoke;
    text-align: justify;
    line-height: 200%;
    letter-spacing: 1px;
    padding: 30px 0;
    font-size: 1rem;
    font-weight: bold;
}

.project-grid {
    padding: 15px 0;
    height: 40vw;
}

.project-img {
    object-fit: contain;
    height: inherit;
}